.all-list-section{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 20px;   
}

@media screen and (min-width: 540px) and (max-width: 990px){
    .all-list-section{
        display: grid;
        grid-template-columns: 50% 50%
        
    }
}

@media screen and (max-width: 540px){
    .all-list-section{
        display: grid;
        grid-template-columns: 100%;
    }
}

.list-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.add-button{
    background: #7f0082;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: fixed;
    bottom: 18px;
    right: 18px;
    color: #fff;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.overlay{
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #000;
    opacity: 0.6;
    cursor: pointer;
}


.add-list-form{
    background: white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 80vw;
    padding: 40px;
    margin-left: 10vw;
    margin-top: 10vh;
    border-radius: 25px;
}

.each-tlist-wrapper{
    height: 100px;
    overflow-y: scroll;
}

.each-temp-list{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .temp-content{
        margin-right: 12px;
    }
    button{
        padding: 0 !important;
        margin: 0 !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
}

.input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    #title{
    }
    #content{
    }
}
.c-btns{
    display: flex;
    justify-content: space-between;
}